<div yw-active-menu="main"
     yw-active-title="Dashboard">
  <div class="container">
    <div class="page-header">
      <div class="text-center">
        <h1>Visual Search and Interaction with Weapon Ads Dataset</h1>
      </div>
      <div style="margin-top:20px" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Project Description</h3>
        </div>
        <div class="panel-body">
          <p>Class Project for <b>USC CS572</b> fall'15. This is an <b>AngularJS</b> app that helps us visualize our crawled data of weapon ads indexed in <b>ElasticSearch.</b> 
          <b>D3</b> and <b>Kibana</b> are integrated into the app for creating the visualizations. <b>OKFN Facetview</b> is used for facet search. The project was initially insipired by the <b>DARPA Memex </b> Effort, to improve domain specific search and provide insight into how weapons are being sold and bought online. The dataset includes <b>151,677</b> indexed ads. Most of the ads are by private sellers on online marketplaces. The <b>Data on Queries</b> section above shows different queries and visualizations for answering some challenge questions posted by members of the DARPA memex project. <b>Data</b> for visualizations are <b>queried and loaded dynamically</b> for practice to query ES and processing the responses. You can use <b>FacetView Search</b> to look for different ads based on different facets or through words search.</p> 
        </div>
      </div>
    </div>
      
    </div>
    <div class="text-center">
      <div>
      <iframe src="https://search-longs-elastic-4reigf7z7cpbdkwe5cn7vvgj5u.us-west-2.es.amazonaws.com/_plugin/kibana/#/visualize/edit/ads-locations?embed&_g=(refreshInterval:(display:Off,section:0,value:0),time:(from:now-1y%2Fy,mode:quick,to:now-1y%2Fy))&_a=(filters:!(),linked:!t,query:(query_string:(query:'*')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(field:coord,precision:3),schema:segment,type:geohash_grid)),listeners:(),params:(isDesaturated:!t,mapType:'Shaded%20Circle%20Markers'),type:tile_map))" height="600" width="800"></iframe>
      </div>
    </div>
  </div>
  
